
<!DOCTYPE html>
<html>
<head>
    <title align="center">Log in</title>
</head>
<body>
    <h1>Log in</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }} {{ form.email() }}<br>
        {{ form.password.label }} {{ form.password() }}<br>
        {{ form.submit() }}
    </form>

    <h1> Go back to register</h1>
    <a href="{{ url_for('register') }}">Register</a> 

    <h1>Go back to homepage</h1>
    <a href="{{ url_for('home') }}">Homepage</a> 
    
</body>
</html>
